body {
  --md-sys-color-primary: #bf0026;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ffdad8;
  --md-sys-color-on-primary-container: #410006;
  --md-sys-color-secondary: #00696a;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #53b8ba;
  --md-sys-color-on-secondary-container: #002020;
  --md-sys-color-tertiary: #974810;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffdbc9;
  --md-sys-color-on-tertiary-container: #331200;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #fffbff;
  --md-sys-color-on-background: #201a1a;
  --md-sys-color-surface: #fffbff;
  --md-sys-color-on-surface: #201a1a;
  --md-sys-color-surface-variant: #f4dddc;
  --md-sys-color-on-surface-variant: #524342;
  --md-sys-color-outline: #857372;
  --md-sys-color-inverse-on-surface: #fbeeed;
  --md-sys-color-inverse-surface: #362f2e;
  --md-sys-color-inverse-primary: #ffb3b0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-surface-tint: #bf0026;
  --md-sys-color-outline-variant: #d7c1c0;
  --md-sys-color-scrim: #000000;
  --md-sys-color-text-neutral: #251918;
  --md-sys-color-inverse-text-neutral: #f4dddc;
}
