.card {
  max-width: 300px;
  width: 100%;
  border-radius: 25px;
}
.card:hover {
  background-color: var(--md-sys-color-primary-container);
  transition: 0.3s;
  cursor: pointer;
}

.img {
  border-radius: inherit;
  background-color: #dadce0;
  object-fit: contain;
  max-width: inherit;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 5px;
}

.types {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
}

.box {
  border: 2px solid #a4a4a4;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.fire {
  background-color: #fd7d24;
  color: #fff;
  text-align: center;
}
.grass {
  background-color: #9bcc50;
  color: #212121;
}
.electric {
  background-color: #eed535;
  color: #212121;
}
.water {
  background-color: #4592c4;
  color: #fff;
}
.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: #212121;
}
.rock {
  background-color: #a38c21;
  color: #fff;
}
.fairy {
  background-color: #fdb9e9;
  color: #212121;
}
.poison {
  background-color: #b97fc9;
  color: #fff;
}
.bug {
  background-color: #729f3f;
  color: #fff;
}
.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  color: #fff;
}
.psychic {
  background-color: #f366b9;
  color: #fff;
}
.flying {
  background: -webkit-linear-gradient(270deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #212121;
}
.fighting {
  background-color: #d56723;
  color: #fff;
}
.normal {
  background-color: #a4acaf;
  color: #212121;
}
.steel {
  background-color: #9eb7b8;
  color: #212121;
}
.ice {
  background-color: #51c4e7;
  color: #212121;
}
.dark {
  background-color: #707070;
  color: #fff;
}
.ghost {
  background-color: #7b62a3;
  color: #fff;
}

.loading {
  background-color: #dadce0;
  color: #dadce0;
}

@media (max-width: 1200px) {
  .card {
    max-width: 200px;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .card {
    width: inherit;
  }
  .name {
    font-size: 9px;
  }
  .id {
    font-size: 15px;
  }
  .box {
    font-size: 10px;
  }
  .content {
    padding: 10px;
  }
  .types {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
  }
}
